.header{

text-align: center;
background-color :rgba(26, 231, 53, 0.479);
font-size: 20px;
color: white;
background-size: cover;
border: 1px;
position: relative;
justify-content: center;
display: flex;


}
body{
 overflow-x: hidden ;
}
.navigationimage{
max-width: fit-content;
width: 80px;
height: 800px;
display: flex;


} 


.navigationbar{
display: flex;
color: white;
margin-top: -45%;
justify-content: space-between;
padding: 60px;
font-weight: bold;
background-blend-mode: darken;
padding: 100px;;
}


.phone{
text-align: right;
width: 30;
height: 20px;
}

.homepage{
    font-size: 1.2em;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    color: white;
    font-weight: 1000;
    display: flex;
}

.innovation{
    color: white;
    font-size: x-large;
    text-align: center;
}


.contact-button button{
    width: 200px;
    height: 70px;
    margin-left: 45%;
    border-color: white;
    border-radius: 10px;
}
.border{
    padding: 100px;
    justify-content: center;
    text-align: center;
}

.rasiprinting{
padding: 20px;


}
#knowmorebutton{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: green;
}
#contact{
    width: 150px;
    height: 50px;
    border-radius: 10px;
}


.rasiprinting{
display: flex;
font-size: 29px;
gap: 6%;



}


.knowbutton{
    width: 80px;
    height: 50px;
    background-color: green;
    border-radius: 30%;

}

.contactus-button{
height:150px ;
width:30% ;
padding-left: 150px;
margin-top: -70px;

}


.serviceicons{
    display: flex;
    gap: 500px;
    
    
}

.quality{
    width: 100px;
    height: 100px;
}

.warranty{
    width: 100px;
    height: 100px;
}

.shipping{
width: 100px;
height: 100px;

}

.sustainableartistry{
    width: 100px;
    height: 100px;
}
.printingtechniques{
padding: 100px;
font-size: xx-large;
}
.artwork{
    
    
    gap:200px ;
}

.handmadedesigns{
    display: flex;
    gap: 30px;
    text-align: center;
    justify-content: space-between;
}

#traditiontextile{
    width:600px ;
    height: 600px;
    border-radius: 10px;
}


#UV{
    width:600px ;
    height: 600px;
    border-radius: 10px;

}

#print{

    width:600px ;
    height: 600px;
    border-radius: 10px;
}

.clientpraise{
padding: 200px;
font-size: xx-large;



}


.workindustries{
    display: flex;
    gap: 600px;
    border-radius: 10px;
    padding: 0px 100px;
}

    .starrating{
        display: flex;
        padding: 20px;
        font-size:29px ;
        gap:6% ;

    }

    #cusions{
        border-radius: 10px;
    }


    .logoicons{
        display: flex;
        gap: 80px;
        border-radius: 10px;
        padding: 0px 100px;


    }

    #arvin{

border-radius: 3px;
width: 150px;
height: 150px;
    }

    #gap{


        border-radius: 3px;
        width: 150px;
        height: 150px;

    }

    #myntra{

        border-radius: 3px;
        width: 1000px;
        height: 1000px;

    }

    #puma{

        border-radius: 3px;
        width: 150px;
        height: 150px;


    }

#aditya{


    border-radius: 3px;
    width: 150px;
    height: 150px;


}

#converse{


    border-radius: 3px;
    width: 150px;
    height: 150px;

}

.markalar img{
    border-radius: 3px;
    
    height: 100px;
    margin-top: 17%;
    
    

}

.bestwork{

    padding: 200px;
    font-size: 40px;    
}

.imagesofclothes{
display: flex;
gap: 70px;
border-radius: 10px;
}

#displayclothes{
width:600px ;
height:600px ;
border-radius: 10px;

}

#chesterbed{

    width:600px ;
height:600px ;
border-radius: 10px;
}

#floraldress{

    width:600px ;
height:600px ;
border-radius: 10px;
}

.womanwithshawl{
display: flex;
padding: 10px;
}

#shawl{
width: 2000px;
height: 800px;
border-radius: 10px;

}

.reachout{


    padding: 200px;
    font-size: 40px;  
}
#map{
    width: 1800px;
    height: 800px;
    border-radius: 10px;

}

.border{

    font-size: 40px;
}

.footerstyle{

    height: 500px;
    text-align: center;
    padding: 1px;
    background-color:black;
margin-top: 120px;
    color: white;
}

.companycontact{
padding: 5%;
background-color: white;
width:30%;
border-radius: 10px;


}
.mapadress{
    background-image: url('Contact_Map.max-1280x720.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding:10%;
    border-radius: 10px;
    
    
}

.stylefooter{
display: flex;
margin-top: 6%;
gap: 6%;
margin-left: 5%;
color: gray;

}
.stylefooter li{
    list-style: none;
}
.rasilogo{

    height: 20px;
    width: 20px;
    border: 3px;
    padding: 60px;
    border-radius: 20px;
}

#bed{
    border-radius: 10px;
}

#rasinlogo{
border-radius: 10px;

}
#footer-button {
margin-bottom: 5%;
margin-top: 5%;
}












